.footer__link-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 530px) {
  .footer__link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
