.header__lang-link {
  color: #ffffff;
  margin: 0 18px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-decoration: none;
  min-height: 28px;
  transition: 0.3s;
}
.header__lang-link:hover {
  opacity: 0.7;
}
.lang-link:last-child {
  margin: 0;
}

@media screen and (max-width: 320px) {
  .lang-link {
    min-height: 20px;
    font-size: 18px;
    line-height: 111%;
  }
}
