.header__lang-link {
  color: #ffffff;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-decoration: none;
  transition: 0.3s;
  font-style: normal;
  text-align: right;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
