.place__title {
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    max-width: 340px;
  }
}
@media screen and (max-width: 630px) {
  .place__title {
    font-size: 6vw;
    max-width: 630px;
    margin: 0 auto;
    line-height: 109%;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    max-width: 288px;
  }
}
