.places {
  max-width: calc(100% - 296px);
  margin: 92px auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}
@media screen and (max-width: 768px) {
  .places {
    margin: 88px auto;
    max-width: calc(100% - 48px);
  }
}
@media screen and (max-width: 640px) {
  .places {
    margin: 64px auto;
  }
}
@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
  }
}
