.lead__subtitle {
  color: #ffffff;
  max-width: 640px;
  width: 100%;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin: 32px auto 0;
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px auto 0;
    max-width: 288px;
    font-size: 16px;
    line-height: 125%;
  }
}
@media screen and (max-width: 700px) {
  .lead__subtitle {
    font-size: 4.3vw;
  }
}
