.cover__overlay {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cover__overlay::after {
  content: '';
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/cover/cover-train.png);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s;
}
.cover__overlay:hover::after {
  opacity: 0.3;
}
