.footer__copy-right {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  margin-left: auto;
}
@media screen and (max-width: 510px) {
  .footer__copy-right {
    margin: 48px 0 0 0;
    line-height: 100%;
  }
}
@media screen and (max-width: 320px) {
  .footer__copy-right {
    margin: 48px 0 0 0;
    line-height: 100%;
  }
}
