.cover__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  max-width: 560px;
  z-index: 1;
  margin: 0;
}
@media screen and (max-width: 510px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    max-width: calc(100% - 32px);
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    max-width: calc(100% - 32px);
    width: 100%;
  }
}
