.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: calc(100% - 96px);
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}
@media screen and (max-width: 510px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 32px);
    margin: 0 auto 24px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 32px);
    margin: 0 auto 24px;
  }
}
